@model MVCDemo.Models.Company

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    foreach (var deparment in Model.Departments)
    {
    @Html.RadioButtonFor(m => m.SelectedDepartment, deparment.Id, (deparment.IsSelected.HasValue && deparment.IsSelected.Value) ? new { @checked = "checked" } : null)
    @deparment.Name
    <br />
    }
    <br />
    <br />
    <input type="submit" value="Submit" />
}
